<h1>
  {{ currentHero.id ? "Edit" : "Create" }} Hero
  <span *ngIf="currentHero.id">{{ currentHero.superhero }}</span>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <!-- form -->
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Super heroes</mat-label>
            <input matInput type="text" required formControlName="superhero" />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter Ego</mat-label>
            <input matInput type="text" required formControlName="alter_ego" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>First appearance</mat-label>
            <input
              type="text"
              matInput
              required
              formControlName="first_appearance"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Characters</mat-label>
            <input type="text" matInput required formControlName="characters" />
          </mat-form-field>

          <!-- selector lleva el formControlName -->
          <mat-form-field class="col-12">
            <mat-label>Owner</mat-label>
            <mat-select required formControlName="publisher">
              <mat-option
                *ngFor="let publisher of publishers"
                [value]="publisher.id"
              >
                {{ publisher.desc }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Alternative Image</mat-label>
            <input type="text" matInput formControlName="alt_img" />
          </mat-form-field>
        </form>

        <div class="flex justify-content-between">
          <button *ngIf="currentHero.id" mat-flat-button color="warn">
            Delete
          </button>

          <!-- para el flex -->
          <span></span>

          <!-- onSubmit 'cause it is outside the form -->
          <button mat-flat-button color="primary" (click)="onSubmit()">
            Save
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- image -->
  <div class="col-12 sm:col-6">
    <mat-card>
      <img
        [src]="currentHero | heroImage"
        [alt]="currentHero.superhero"
        mat-card-image
      />
    </mat-card>
  </div>
</div>
